@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-display: swap;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400 700;
    src: url("./assets/fonts/Lora-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400 700;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
}

@theme {
    --background-color-dark: #121212;
    --background-color-light: #fdfdfd;
    --color-dark: #e5e7eb;
    --color-light: #1f2937;
    --font-lora: "Lora", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}
