@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-display: swap;
    font-family: "Lora";
    font-style: normal;
    font-weight: 400 700;
    src: url("./assets/fonts/Lora-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400 700;
    src: url("./assets/fonts/Montserrat-VariableFont_wght.woff2")
        format("woff2");
}

@plugin "@tailwindcss/typography";

@theme {
    /* rating gradient colors */
    --background-color-average-end: #f87171;
    --background-color-average-start: #fca5a5;
    --background-color-excellent-end: #10b981;
    --background-color-excellent-start: #6ee7b7;
    --background-color-good-end: #f59e0b;
    --background-color-good-start: #fbbf24;
    --background-color-great-end: #34d399;
    --background-color-great-start: #a7f3d0;
    --background-color-poor-end: #ef4444;
    --background-color-poor-start: #fee2e2;

    /* global app backgrounds */
    --background-color-dark: #121212;
    --background-color-light: #fdfdfd;

    /* table cell backgrounds */
    --background-color-table-dark: #1e1e1e;
    --background-color-table-light: #ffffff;

    /* border colors */
    --border-dark: #323333;
    --border-light: #e8e9eb;

    /* text colors */
    --color-dark: #e5e7eb;
    --color-light: #1f2937;

    /* typography variables */
    --font-lora: "Lora", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}

.has-tooltip:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip {
    background-color: #333;
    border-radius: 6px;
    bottom: 125%;
    color: #fff;
    left: 50%;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    visibility: hidden;
    width: max-content;
    z-index: 10;
}
